.div-content {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
    margin-top: 39px;
}

.div-content h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.div-summary {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.div-sales {
    flex: 1;
    min-width: 200px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.div-sales h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
    color: #333;
}

.div-sales p {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
}
