   .div-hero{
    width: 97%;
    margin-top: -20px;
    height: 100%;
   }

   .hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #dddada;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.hero-content {
    flex: 1;
    text-align: left;
    padding: 20px;
    margin-top: 50px;
    max-width: 600px;
}

.hero h1 {
    font-size: 4.5em;
    margin: 0 0 20px;
}

.hero h1 span {
    color: #10912e;
}

.discount{
  color: #ff6347;
  font-size: 30px;
}

.hero p {
    font-size: 1.5em;
    margin: 20px 0;
    color: #000;
}

.hero button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 200px;
    margin-left: 100px;
}

.hero button:hover {
    background-color: #0056b3;
}

.div-hero-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: -150px;
}

.hero-image {
    max-width: 90%;
    height: 80%;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-content, .div-hero-image {
        padding: 10px;
    }

    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }
}
