.process {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 20px auto;
    width: 96%;
}

.process h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.process p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #666;
}

.process-picture {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.picture-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

.picture-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.picture-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.picture-item p {
    margin-top: 30px;
    font-size: 20px;
    color: #333;
    text-align: center;
    background-color: rgb(196, 252, 252);
    width: 170px;
}
